name: Deploy Portfolio to AWS

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Build project
        run: npm run build

      # LOGIN AWS usando OIDC (SIN ACCESS KEYS)
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::339712768913:role/GitHubActionsPortfolioDeployRole
          aws-region: us-east-1

      # SUBIR archivos al bucket S3
      - name: Upload to S3
        run: |
          aws s3 sync dist s3://portafolio-2026-sebastian --delete

      # INVALIDAR CACHE CDN
      - name: Invalidate CloudFront cache
        run: |
          aws cloudfront create-invalidation \
            --distribution-id EC2G5UTO1CEQ9 \
            --paths "/*"